{
	"presets": [
		["env", {
			"targets": {
				"node": 4
			},
			"modules": false
		}]
	],
	"env": {
		"es5": {
			"plugins": ["transform-object-rest-spread"],
			"presets": [
				["env", {
					"targets": {
						"node": 4
					}
				}]
			]
		}
	}
}
