{
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"node": 4
			},
			"modules": false
		}]
	],
	"env": {
		"es5": {
			"plugins": ["@babel/plugin-proposal-object-rest-spread"],
			"presets": [
				["@babel/preset-env", {
					"targets": {
						"node": 4
					}
				}]
			]
		}
	}
}
